body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding-top: 100px;
}
.bubbly_button {
    width: 150px;
    color: #f9f9f9;
    background-color: #0fcb8e;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 1.2rem;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.1s ease-in, box-shadow 0.4s ease-in;
    position: relative;
}
.bubbly_button:hover {
    -webkit-box-shadow: 0px 0px 21px -1px rgba(15, 203, 142, 0.4); 
    box-shadow: 0px 0px 21px -1px rgba(15, 203, 142, 0.4);
}
.bubbly_button:active {
    transform: scale(0.96);
}
.bubbly_button::before, .bubbly_button::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    width: 150%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
}
.bubbly_button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, transparent 20%,#0fcb8e 20%, transparent 30%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, transparent 10%,#0fcb8e 15%, transparent 20%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%;
    animation: topBubbles 1s ease-in-out infinite;
}
@keyframes topBubbles {
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
.bubbly_button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, transparent 10%,#0fcb8e 15%, transparent 20%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, #0fcb8e 20%, transparent 20%),
                      radial-gradient(circle, transparent 10%,#0fcb8e 15%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 15% 15%;
    background-position: 10% 0, 30% 10%, 55% 0%, 70% 0, 85% 0%, 70% 0%, 55% 0%, 30% 10%;
    animation: bottomBubbles 1s ease-in-out infinite;
}
@keyframes bottomBubbles {
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 90% 10%, 95% 30%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 60%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}